html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

#map-area {
  width: 100%;
  height: 100%;
}

/* Attribution styling */
.esri-attribution a {
  color: black;
}

.esri-attribution {
  background-color: transparent;
  font-size: 12px;
  font-family: sans-serif;
  color: black;
}

.esri-attribution__powered-by {
  display: none;
}

/* LandsD attribution */
.copyright-url {
  position: absolute;
  bottom: 5px;
  right: 40px;
  padding: 0 4px;
  font-family: sans-serif;
  font-size: 12px;
}

.copyright-logo {
  position: absolute;
  bottom: 5px;
  right: 10px;
  width: 28px;
  height: 28px;
  display: inline-flex;
  background: url(https://api.hkmapservice.gov.hk/mapapi/landsdlogo.jpg);
  background-size: 28px;
}
